<!-- Describe task in general -->

<p>
    Ты когда-нибудь слышал о таком языке разметки как <a target="_blank" href="https://yaml.org/">YAML</a>?  Он представляет собой дружественный формат сериализации данных. Настолько дружественный, что его стало удобно читать и людям и программам. Поиграться с самим стандартом можно перейдя <a target="_blank" href="https://yaml-online-parser.appspot.com/">по этой ссылке</a> .
</p>

 <p>YAML - это текст, а вам надо преобразовать его в объект. Но я не прошу вас реализовывать весь стандарт YAML, мы будем реализовывать его шаг за шагом.</p>

 <p>Первый шаг - это преобразование ключ-значение. Ключом может быть любая строка, из латинских букв и цифр. Значением может быть однострочная строка (которая состоит из пробелов, латинских букв и цифр) или число (<b class="code">{% if is_js %}Number{% else %}int{% endif %}</b>).</p>

 <p>Покажу несколько примеров:</p>

<pre>
name: Alex
age: 12
</pre>

 <p>Преобразуется в {% if is_js %}обьект{% else %}словарь{% endif %}.</p>

 <pre class="brush: python">
{ 
  "name": "Alex",
  "age": 12
} 
 </pre>

<p>Обрати внимание, что число автоматически получило тип {% if is_js %}Number{% else %}int{% endif %}.</p>

<p>Еще один пример показывает, что строка может содержать пробелы:<p>

<pre>
name: Alex Fox
age: 12

class: 12b
</pre>

<p>Будет преобразован в следующий {% if is_js %}обьект{% else %}словарь{% endif %}.</p>

<pre class="brush: python">
{
  "age": 12, 
  "name": "Alex Fox", 
  "class": "12b"
}
</pre>

<p>Обрати внимание на несколько вещей. Между строкой <b class="code">"age"</b> и строкой <b class="code">"class"</b> есть пустая строка, которая не мешает парсингу. Класс начинается с цифр, но имеет буквы, а значит не может быть преобразован в цифры, поэтому его тип остался строкой ({% if is_js %}String{% else %}str{% endif %}).</p>

<!-- Explain input and output values -->
<p>
    <strong>Входные данные:</strong> Строка в формате 
</p>

<p>
    <strong>Выходные данные:</strong> Объект ({% if is_js %}тип Object{% else %}словарь{% endif %}). 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Предварительное условие:</strong>
    <i>Используется стандарт YAML версии 1.2 с <a target="_blank" href="https://yaml.org/spec/1.2/spec.html#id2803231">JSON Schema</a></i>
</p>
